
h1.ant-typography{
  font-weight: 400;
  font-size: 3rem;
  color: #fff
}

h3.ant-typography{
  font-weight: 700;
}

h4.ant-typography{
  font-weight: 400;
  color: #fff;
}

h5.ant-typography{
  font-weight: 400;
}

.ant-progress-text{
  color: #fff
}

.ant-input{
  background-color: rgba(0, 0, 0, 0);
}

.sidebar{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 0 0 80px;
  align-items: center;
  padding: 20px 0;
  background-color: inherit;
}

.ant-select-selection-item{
  font-weight: 600
}

@media (max-width: 600px) {
  .wrapper{
    flex-wrap: wrap;
    margin: 0
  }
  .App{
    align-items: flex-start !important 
  }
}

